<mat-toolbar color="primary">
    <span>Ecommerce Application V1</span>
    <span>
        <!-- <a routerLink="/">Home</a> -->

        <a routerLink="/admin">Admin</a>

        <a (click)="deleteSessionUserInfo()" routerLink="/login">Logout</a>
    </span>
</mat-toolbar>

<!-- <div style="width: 40%; margin: auto; ">
    <mat-form-field style="width: 30%;margin: 2%;">
        <input #emailInp matInput placeholder="example@gmail.com" />
    </mat-form-field>
    <mat-form-field style="width: 30%;margin: 2%;">
        <input #pwInp matInput placeholder="password" />
    </mat-form-field>
    <button (click) ="post(emailInp.value,pwInp.value)" color="primary">
        Add User
    </button>
    
</div> -->
<!-- <h1>Welcome {{localStorage.getItem('currentUser') }}</h1> -->
<button (click)="addUserfunc()" style="margin-top: 2%;margin-bottom: 2%; background-color: blue; color: white;"> Add New User</button>
<form [formGroup]="newUserForm" (ngSubmit)="post()" novalidate *ngIf="addUser">
    <h1 style="text-align: center;">Add a New User:</h1>
    <mat-form-field style="width: 30%;">
        <mat-label>Email</mat-label>
        <input #emailInp matInput placeholder="example@gmail.com" formControlName="email" />
    </mat-form-field>
    <mat-form-field style="width: 30%;margin: 2%;">
        <mat-label>Password</mat-label>
        <input #pwInp matInput placeholder="password" formControlName="password"/>
    </mat-form-field>
    <mat-form-field style="width: 30%;margin: 2%;">
        <mat-label>Role</mat-label>
        <input #roleInp matInput placeholder="user or admin" formControlName="role"/>
    </mat-form-field>
    <button style="background-color: blue; color: white;"type ="submit">
        <span>Add user</span>
    </button>
    <div #unsuccessPost *ngIf="div1" style="color: red;">Invalid Inputs! Try Again!</div>
    <div #successPost *ngIf="div2" style="color: green;">You have successfully created the new user!</div>
</form>

<hr />
<!-- <div #testerOne *ngIf="div1" style="background-color: blue;">Hi</div>
<button (click)="div1func()"> test</button> -->
<button (click)="showUserfunc()" style="margin-top: 2%;margin-bottom: 2%; background-color: blue; color: white;"> Show/Hide User List</button>
<div *ngIf="showUser">
<h1 style="text-align: center;">User List</h1>
<table style="width: 50%; margin: auto; text-align: center;" border=1>
    <tr>
        <th>User Id</th>
        <th>User Email</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let user of users$ | async">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td><button mat-icon-button color="warn">
            <mat-icon (click)= "delete(user.id)">delete</mat-icon>
        </button>
        </td>
    </tr>
</table>
</div>
<!-- <mat-card style="width: 50%; margin: auto;">


    <mat-list>
        
        <mat-list-item *ngFor="let user of users$ | async">
            <span style="font-weight: bold;">{{user.id}}. {{user.email}} {{user.password}}</span>
            <span style="position: absolute; right: 0;">
                <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>
        </mat-list-item>
    </mat-list>
</mat-card> -->